<% provide(:title, "About") %>
<h1>詳細</h1>
<p>
  各種メディアで提供されるサブカルチャーの一つ。
「文化芸術振興基本法」ではメディア芸術、関連法の「コンテンツの創造、保護及び活用の促進に関する法律」によるとコンテンツの一つと定義されており、いずれにおいてもアニメと略されてはおらず、アニメーションと正式表記されている。別定義として、多角的芸術分類観点において、美術（映像を含まない）、映像、音楽、文学、芸能の総合芸術とされるときもある。
単に「アニメ」という場合は、セルアニメーション（セルアニメ）のことを指していることが多い。本項では、主に日本で製作された商業用セルアニメーションについて解説する。
作品に関しては、『アニメ作品一覧』を参照。
　<%= link_to image_tag("guru.jpeg", alt: "Rails logo") %>
  <!-- <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  is a <a href="https://railstutorial.jp/#ebook">book</a> and
  <a href="https://railstutorial.jp/#screencast">screencast</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial. -->
</p>
