<% provide(:title, "Suke") %>
<h1>スケジュール管理</h1>
<h2>アニメのスケジュール管理はここで！
アニメはリアルタイムで見よう！<h2>


<p><iframe src="https://calendar.google.com/calendar/embed?src=camera1993.com%40gmail.com&ctz=Asia/Tokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
