<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'フォローを外す' %>
  <% else %>
    <%= render 'フォローする' %>
  <% end %>
  </div>
<% end %>
